<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>  
        <servlet-name>helloworld</servlet-name>  
        <servlet-class>our.test.web.HelloWorldServlet</servlet-class>  
    </servlet>  
  
    <servlet-mapping>  
        <servlet-name>helloworld</servlet-name>  
        <url-pattern>/helloworld</url-pattern>  
    </servlet-mapping>  
	
  <servlet>  
        <servlet-name>hehe_test</servlet-name>  
        <servlet-class>our.test.web.hehe_test</servlet-class>  
    </servlet>  
  
    <servlet-mapping>  
        <servlet-name>helloworld</servlet-name>  
        <url-pattern>/hehe_test</url-pattern>  
    </servlet-mapping>  
  
</web-app>
